body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

#container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #007BFF; /* Color de texto azul para cumplir con el contraste */
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
button {
  font-size: 16px;
  padding: 8px;
}

button {
  cursor: pointer;
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 15px;
}

button:hover {
  background-color: #0056b3; /* Cambio de color al pasar el ratón para cumplir con el contraste */
}

#messages {
  list-style: none;
  padding: 0;
}

#messages li {
  margin-bottom: 5px;
}

#privateMessageForm input,
#privateMessageForm button {
  margin-top: 10px;
}

/* Estilos para el modo de alto contraste (puedes personalizar según sea necesario) */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body {
    background-color: #000;
    color: #fff;
  }

  button {
    border: 2px solid #fff;
  }
}
